$site-footer-icon-color: $impress-red-darker;
$site-footer-padding-top: rem(10);
$site-footer-font-size: $font-size-small;
$site-footer-border-size: rem(10);
$site-footer-icon-link-height-largest: rem(36);

$site-footer-ripcord-size: rem(50);
$site-footer-tallest-icon: rem(36);
