// Ghost Button Mixin! 
@mixin ghost-button($ghost-button-color, $ghost-button-height, $ghost-button-width, $ghost-button-border, $ghost-button-display) {
  border: $ghost-button-border;
  border-color: $ghost-button-color;
  color: $ghost-button-color;
	display: $ghost-button-display;
	height: $ghost-button-height;
	line-height: $ghost-button-height;
	margin-top: $ghost-button-height / 3;
	text-align: center;
  text-decoration: none;
	width: $ghost-button-width;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
   transition: .2s;

	&:hover {
		background: $ghost-button-color;
    
     		@if $ghost-button-color == #FFFFFF {
      			color: #000000;
      		}

      	@else {
      			color: #FFFFFF;
      		}
  	}
}

.button {
  .ghost-impress {
	  @include ghost-button($impress-red, 100%, 100%, 1px solid,  inline-block)
	}
}
