@import '../footer/footer-variables';

.bps-billboard {
  background: $off-white;

  .billboard {
    background: transparent url('../images/ripcord-sketch-20.png') no-repeat 85% bottom;
    background-size: auto 100%;
  }

  .billboard-msg {
    @include media($medium-up) {
      max-width: rem(1000);
    }
  }
}
